/**
 * Ported from hasura/graphql-engine docs/src/css/overview-page.scss
 * + introduction-page.scss card gallery patterns
 */

.overview-header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin-top: 1rem;
  margin-bottom: 20px;
  padding-bottom: 3rem;
  border-bottom: solid 1px var(--ifm-color-emphasis-200);
}

.overview-header iframe {
  aspect-ratio: 16 / 9;
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.overview-gallery,
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  margin-bottom: 20px;
}

.overview-gallery {
  padding-bottom: 3rem;
  border-bottom: solid 1px var(--ifm-color-emphasis-200);
}

.overview-gallery .card {
  min-height: 100%;
  width: 100%;
  display: inline-block;
  text-decoration: none !important;
}

.overview-gallery .card h3 {
  font-size: 1.5rem;
}

.overview-gallery .card p {
  font-size: 1rem;
  color: var(--ifm-color-emphasis-900);
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px;
}

.card h4 {
  text-transform: uppercase;
  font-size: 1.1rem;
  margin: 0;
}

.card-header {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  margin-bottom: 1rem;
}

html[data-theme='dark'] .card:hover {
  --ifm-card-background-color: var(--color-gray-78) !important;
}
